.post-container{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to right,#11998e,#38ef7d);
}

.post-card{
  background:white;
  padding:40px;
  width:350px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  text-align:center;
}

.post-card input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
}

.post-card button{
  width:100%;
  padding:10px;
  background:#11998e;
  color:white;
  border:none;
  cursor:pointer;
}
