/* ========== GLOBAL THEME ========== */

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body{
  background: linear-gradient(135deg,#020617,#020617,#020617);
  color:#e5e7eb;
}

/* CENTER */
.center{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* CARD */
.card{
  background:#020617;
  border-radius:16px;
  padding:30px;
  box-shadow:0 0 40px rgba(99,102,241,0.15);
}

/* INPUTS */
input{
  width:100%;
  padding:12px;
  margin-top:12px;
  border-radius:8px;
  border:none;
  background:#020617;
  color:white;
  outline:none;
  box-shadow:inset 0 0 0 1px #1e293b;
}

/* BUTTONS */
.btn{
  padding:12px 18px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.btn-primary{
  background:#6366f1;
  color:white;
}

.btn-outline{
  background:transparent;
  border:1px solid #6366f1;
  color:#6366f1;
}

.btn-danger{
  background:#ef4444;
  color:white;
}

.btn:hover{
  opacity:0.9;
}

/* TAG */
.tag{
  padding:6px 12px;
  background:#1e293b;
  border-radius:20px;
  margin-right:6px;
  display:inline-block;
}

/* LINKS */
a{
  color:#6366f1;
}
